body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: lightseagreen;
}

#console {
    font-family: 'Cascadia Mono', sans-serif;
    color: rgb(255, 255, 255);
    background-color: black;
    width: 120ch;
    word-break: break-word;
    /* overflow: hidden; */
    /* line-height: 1; /* Adjust line height as needed */
    height: 47.5em; /* Change this value to your desired height in lines */
    border: 1px wheat solid;
}